doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")
    title Starter Template for Joker.Shop
    link(rel="stylesheet", href="/css/main.css")

  body
    
    header.main-head
      
      nav.main-head__nav
        ul.main-head__list
          li.main-head__item
            a(href="#").main-head__link Главная
          li.main-head__item
            a(href="#").main-head__link Каталог
          li.main-head__item
            a(href="#").main-head__link Услуги
          li.main-head__item
            a(href="#").main-head__link Загрузки
          li.main-head__item
            a(href="#").main-head__link Новости
          li.main-head__item
            a(href="#").main-head__link Доставка
          li.main-head__item
            a(href="#").main-head__link Корзина
          li.main-head__item
            a(href="#").main-head__link Обратная связь
            
            
      div.main-head__info
        div.logo
        div.main-head__contacts
          div.main-head__tel 7&nbsp(812)&nbsp2431339
          div.main-head__address Магазин в Санкт-Петербурге.
        a(href="#" title="Корзина &rarr;").cart
        
        
        
    main.main-content
    
      div.catalog-brief
        h2.catalog-brief__title Каталог товаров
        ul.catalog-brief__list
          li.catalog-brief__item
            a(href="#").catalog-brief__link Тестовая категория 1
          li.catalog-brief__item
            a(href="#").catalog-brief__link Тестовая категория 2
            
        

